:root{
  --white : #fafafa;
  --sec-text : #B8B8B8;
  --third-text : #999999;
  --bg : #0c0c0c;

  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
